@tailwind base;
@tailwind components;
@tailwind utilities;


.orange-shadow {
  text-shadow: 0 0 1px #ff4a13, 0 0 30px #000000, 0 0 10px #000000;
}
body {
  overflow-x: hidden;
}

.nav-width {
  margin-left: calc((100vw - 1200px) / 4);
  margin-right: calc((100vw - 1200px) / 4);
}